In [1]:
for i in range(10,-1,-1):
    if i==5:
        break
    else:
        print(i,end=" ")

10 9 8 7 6

In [2]:
string1="python aeiou 1234"
vowels="aeiou"
d=0
v=0
c=0
s=0
for i in string1:
    if i in vowels:
        v+=1
    elif i.isdigit():
        d+=1
    elif i.isspace():
        s+=1
    elif i.isupper() or i.islower():
        c+=1
print(v,d,s,c)

6 4 2 5

In [6]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
'''
* * * *
* * *
* *
*
'''
for i in range(0,4):
    for j in range(0,4-i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [1]:
'''
-----*
----**
---***
--****
-*****
'''

for i in range(0,5):
    for j in range(5-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

-----*
----* *
---* * *
--* * * *
-* * * * *

In [24]:
for i in range(0,5):
    for j in range(5-i):
        print(" ",end="")
    for j in range(i+1):
        print(i,end="")
    print()

     0
    11
   222
  3333
 44444

In [28]:
'''
* * * *
*     *
*     *
* * * *
'''

for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*   *
*   *
*   *
*****

In [29]:
'''
***
 **
  *
'''

for i in range(3):
    for j in range(i,i+1): #1<1
        print(" ",end="")
    for j in range(i,-3,-1): #1<-3
        print("*",end="")
    print()

 ***
 ****
 *****

In [49]:
'''
 * * * *
   * *
    *
'''
for i in range(0,4):
    for j in range(5-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(0,5):
    for j in range(i+1):
        print("",end=" ")
    for j in range(5-i):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [54]:
"""
*
**
***
**
*
"""

for i in range(5):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(0,3):
    for j in range(0,3-i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [54]:
for i in range(0,5):
    for j in range(5-i):
        print("",end="")
    for j in range(i+1):
        print("*",end="")
    for j in range(5-i):
        print("  ",end="")
    for j in range(i+1):
        print("*",end="")
    print()

*          *
**        **
***      ***
****    ****
*****  *****

In [70]:
for i in range(0,4):
    for j in range(5-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    for j in range(5-i):
        print("  ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(0,5):
    for j in range(i+1):
        print(" ",end="")
    for j in range(5-i):
        print("*",end=" ")
    for j in range(i+1):
        print("  ",end="")
    for j in range(5-i):
        print("*",end=" ")
    print()

     *           *
    * *         * *
   * * *       * * *
  * * * *     * * * *
 * * * * *   * * * * *
  * * * *     * * * *
   * * *       * * *
    * *         * *
     *           *

In [75]:
'''
*
**
***
'''
n=5
for i in range(n):
    for j in range(0,i+1):
        print("*",end=" ")
    for k in range(n-i-1):
        print("-",end=" ")
    for k in range(n-i):
        print("-",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

* - - - - - - - - -
* * - - - - - - - *
* * * - - - - - * *
* * * * - - - * * *
* * * * * - * * * *

In [76]:
i=10
while(i>=1):
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1