In [2]:
n=4
temp=1
for i in range(1,n+1):
    for j in range(1,n+1):
        if i>j:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

1 2 3 4
2 2 3 4
3 3 3 4
4 4 4 4

In [10]:
'''
1               ->i=1 1+0=1  
2 1             ->i=2 1+1=2 
4 2 1           ->i=3 2+2=4 
8 4 2 1         ->i=4 4+4=8
16 8 4 2 1      ->i=5 8+8=16
'''
# t=1
# n=5
# for i in range(n):
#     k=t #k=2
#     for j in range(i+1):
#         print(k,end=" ") #2
#         k=k//2
#     t=t*2 
#     print()
'''
1        ->
1 2      ->
1 2 4    -> 1*1 1*2=2 
1 2 4 8  ->
'''
temp=1
n=5
for i in range(n):
    temp=1
    for j in range(i+1):
        print(temp,end=" ")
        temp=temp*2
    print()

1
1 2
1 2 4
1 2 4 8
1 2 4 8 16

In [8]:
try:
    a=[1,2,3,4]
    print(a[3])
except:
    print("Index Out Of Range!!!!")
else:
    print("No Error Ocurred!")
finally:
    print("Program End")

4
No Error Ocurred!
Program End

In [14]:
for i in range(0,5):
    for j in range(0,i): #for(j=0;0<2;j++)
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [18]:
# 4 4 4 4
# 3 3 3
# 2 2 
# 1
n=4
for i in range(0,n):
    for j in range(0,n-i):
        print(n-i,end=" ")
    print()

4 4 4 4
3 3 3
2 2
1

In [21]:
# ---1
# --12
# -123
# 1234
n=4
temp=n-1
for i in range(1,n+1):
    for j in range(temp):
        print("-",end=" ")
    for k in range(1,i+1): #for(k=1;k<i+1;k++)
        print(k,end=" ")
    temp-=1
    print()

- - - 1
- - 1 2
- 1 2 3
1 2 3 4

In [28]:
# 4 3 2 1 t=4-0
# 3 2 1   t=4-1
# 2 1
# 1
n=5
temp=n
t=n
for i in range(0,n):
    t=t-i
    for j in range(temp):
        print(t,end=" ")
        t-=1
    t=n
    temp-=1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# --3
# -23
# 123

n=3
t=n
for i in range(n):
    for j in range(n-i):
        print("-",end=" ")
    for k in range(i+1):
        print(t,end=" ")
        t-=1
    t